<!-- maestro/filtros.html -->
<div id="filtersPanel" class="filters-panel">
    <form method="get" action="" class="d-flex flex-column p-3">
      <h5>Filtrar por estado:</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="filtro" value="activos" id="activo" {% if 'activos' in filtro %}checked{% endif %}>
        <label class="form-check-label" for="activo">Activados</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="filtro" value="inactivos" id="inactivo" {% if 'inactivos' in filtro %}checked{% endif %}>
        <label class="form-check-label" for="inactivo">Desactivados</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="filtro" value="eliminados" id="eliminado" {% if 'eliminados' in filtro %}checked{% endif %}>
        <label class="form-check-label" for="eliminado">Eliminados</label>
      </div>      
  
      <button type="submit" class="btn btn-primary mt-3 d-flex align-items-center">
        Aplicar Filtro
        <i class="bi bi-check ms-2"></i>
      </button>
    </form>
    <button id="closeFiltersBtn" class="btn btn-danger mt-3 d-flex align-items-center">
      Cerrar
      <i class="bi bi-x-circle ms-2"></i>
    </button>
  </div>
  