<!-- maestro/header.html -->
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center card-header">
  <div class="d-flex mb-2 mb-md-0">
    <a href="{% url 'crear' %}" class="btn btn-primary me-2 d-flex align-items-center" role="button">
      Agregar
      <i class="bi bi-plus-circle ms-2"></i>
    </a>
    <button class="btn btn-outline-secondary ms-2 d-flex align-items-center" id="openFiltersBtn">
      Filtrar
      <i class="bi bi-funnel ms-2"></i>
    </button>
  </div>

  <div class="d-flex justify-content-end w-100">
    <form method="get" action="" class="d-flex" style="max-width: 400px; width: 100%;">
      <input type="text" name="search" class="form-control me-2" placeholder="Buscar registros..." value="{{ query|default:'' }}" />
      <button class="btn btn-outline-secondary d-flex align-items-center" type="submit">
        Buscar
        <i class="bi bi-search ms-2"></i>
      </button>
    </form>
  </div>
</div>
