<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>
      {% if campo.name == 'estado_registro' and not formulario.instance.pk %}
        <input type="text" class="form-control" value="{{ campo.value }}" readonly />
      {% else %}
        {{ campo }}
      {% endif %}
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
  {% endfor %}

  <div class="d-flex justify-content-center mt-3">
    <input name="" id="" class="btn btn-success me-2" type="submit" value="Guardar" />
    <a name="" id="" class="btn btn-primary me-2" href="{% url 'maestro' %}" role="button">Cancelar</a>

    <!-- Botón para activar/desactivar -->
    {% if maestro.estado_registro == 'A' %}
      <a href="{% url 'desactivar' maestro.id %}" class="btn btn-warning">Desactivar</a>
    {% elif maestro.estado_registro == 'I' %}
      <a href="{% url 'activar' maestro.id %}" class="btn btn-success">Activar</a>
    {% endif %}
  </div>
</form>
