{% extends 'base.html' %}

{% block titulo %}
  Maestro de Equipos
{% endblock %}

{% block content %}
  <div class="card">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center card-header">
      <div class="d-flex mb-2 mb-md-0">
        <a href="{% url 'crear' %}" class="btn btn-primary me-2" role="button">Agregar</a>
      </div>

      <form method="get" action="" class="d-flex" style="max-width: 400px; width: 100%;">
        <input type="text" name="search" class="form-control me-2" placeholder="Buscar registros..." value="{{ request.GET.search|default:'' }}" />
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
      </form>
    </div>

    <div class="card-body">
      <h4 class="card-title">Maestro de Equipos</h4>
      <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'maestro' %}?filtro=activos" class="btn btn-success me-2 {% if filtro == 'activos' %}active{% endif %}">Activados</a>
        <a href="{% url 'maestro' %}?filtro=inactivos" class="btn btn-warning me-2 {% if filtro == 'inactivos' %}active{% endif %}">Desactivados</a>
        <a href="{% url 'maestro' %}?filtro=eliminados" class="btn btn-danger {% if filtro == 'eliminados' %}active{% endif %}">Eliminados</a>
      </div>

      <div class="table">
        <table class="tb table">
          <thead class="the table-primary">
            <tr class="tr">
              <th scope="col" class="th" data-titulo="id">ID</th>
              <th scope="col" class="th" data-titulo="nombre">Nombre</th>
              {% comment %} <th scope="col" class="th" data-titulo="taller">Taller de Mantenimiento</th>
              <th scope="col" class="th" data-titulo="tipo">Tipo de Equipo</th>
              <th scope="col" class="th" data-titulo="ubicacion">Ubicación</th> {% endcomment %}
              <th scope="col" class="th" data-titulo="estado">Estado de Registro</th>
              {% comment %} <th scope="col" class="th" data-titulo="acciones">Acciones</th> {% endcomment %}
            </tr>
          </thead>
          <tbody>
            {% for maestro in maestros %}
              <tr class="tr clickable-row" data-url="{% url 'detalle' maestro.id %}">
                <td class="td" data-titulo="id">{{ maestro.id }}</td>
                <td class="td" data-titulo="nombre">{{ maestro.nombre }}</td>
                {% comment %} <td class="td" data-titulo="taller">{{ maestro.taller_mantenimiento.nombre }}</td>
                <td class="td" data-titulo="tipo">{{ maestro.tipo_equipo.nombre }}</td>
                <td class="td" data-titulo="ubicacion">{{ maestro.ubicacion }}</td> {% endcomment %}
                <td class="td" data-titulo="estado">{{ maestro.estado_registro }}</td>
                {% comment %} <td class="td" data-titulo="acciones">
                  <a name="" id="" class="btn btn-secondary" href="{% url 'detalle' maestro.id %}" role="button">Ver Detalle</a>
                </td> {% endcomment %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
