{% extends 'base.html' %}

{% block titulo %}
  Taller de Mantenimiento
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          {% include 'header.html' %}

          <div class="card-body">
            <h4 class="card-title">Taller de Mantenimiento</h4>

            {% include 'taller/filtros.html' %}
            {% include 'table.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
