{% extends 'base.html' %}
<!-- Botón Volver a la Lista con ícono -->
{% block titulo %}
  Detalle del {{ modelo_nombre|capfirst }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <a href="{% url modelo_nombre %}" class="btn btn-secondary d-flex align-items-center py-2 px-3 me-3">
        <i class="bi bi-arrow-left me-2"></i> <!-- Ícono de volver -->
        Volver
      </a>
      <h5 class="mb-0">{{ objeto }}</h5>
    </div>

    <div class="card-body">
      <ul class="list-group mb-3">
        {% for campo, valor in campos_objeto.items %}
          <li class="list-group-item">
            <strong>{{ campo|capfirst }}:</strong> {{ valor }}
          </li>
        {% endfor %}

        {% if objeto.estado_registro %}
          <li class="list-group-item">
            <strong>Estado:</strong>
            {% if objeto.estado_registro == 'A' %}
              Activo
            {% elif objeto.estado_registro == 'I' %}
              Inactivo
            {% elif objeto.estado_registro == '*' %}
              Eliminado
            {% endif %}
          </li>
        {% endif %}
      </ul>

      <!-- Botones centrados -->
      <div class="d-flex justify-content-center mt-3">
        {% if objeto.estado_registro != '*' %}
          <!-- Botón Editar con ícono -->
          <a href="{% url 'editar' modelo_nombre objeto.id %}" class="btn btn-info me-2 d-inline-flex align-items-center py-2 px-3">
            <i class="bi bi-pencil me-2"></i> <!-- Ícono de editar -->
            Editar
          </a>

          <!-- Botón Eliminar con ícono -->
          <a href="{% url 'eliminar' modelo_nombre objeto.id %}" class="btn btn-danger me-2 d-inline-flex align-items-center py-2 px-3">
            <i class="bi bi-trash me-2"></i> <!-- Ícono de eliminar -->
            Eliminar
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
