{% extends 'base.html' %}

{% block titulo %}
  Editar
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">Editar</div>
    <div class="card-body">
      <h4 class="card-title">Datos de {{ objeto.nombre }}</h4>
      <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        <div class="d-flex justify-content-center mt-3">
          <!-- Botón Guardar -->
          <button class="btn btn-success me-2 d-flex align-items-center" type="submit">
            Guardar
            <i class="bi bi-save ms-2"></i>
          </button>
          <!-- Botón Cancelar -->
          <a name="" id="" class="btn btn-primary me-2 d-flex align-items-center" href="{% url modelo_nombre %}" role="button">
            Cancelar
            <i class="bi bi-x-circle ms-2"></i>
          </a>
          <!-- Botón Activar/Desactivar dinámico -->
          {% if objeto and objeto.estado_registro == 'A' %}
            <a href="{% url 'desactivar' modelo_nombre objeto.id %}" class="btn btn-warning d-flex align-items-center">
              Desactivar
              <i class="bi bi-toggle-off ms-2"></i>
            </a>
          {% elif objeto and objeto.estado_registro == 'I' %}
            <a href="{% url 'activar' modelo_nombre objeto.id %}" class="btn btn-success d-flex align-items-center">
              Activar
              <i class="bi bi-toggle-on ms-2"></i>
            </a>
          {% endif %}
        </div>
      </form>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
{% endblock %}
