<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="mb-3">
      <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
      {% if campo.name == 'estado_registro' and not formulario.instance.pk %}
        <!-- Campo solo lectura para estado_registro al crear -->
        <input type="text" class="form-control" value="{{ campo.value }}" readonly />
      {% else %}
        <!-- Renderizado dinámico de los campos -->
        {{ campo }}
      {% endif %}
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
  {% endfor %}
</form>
