.clickable-row .td {
    transition: background-color 0.3s ease;
}

.clickable-row:hover .td {
    background-color: lightgray;
    cursor: pointer;
}

@media (max-width: 30em) {
    .tb {
        width: 100%;
        font-size: .9em;
    }

    .td,
    .th {
        padding: 5px 10px;
        border: 1px solid lightgrey;
    }

    .tb .tr {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        padding: 1em;
        margin-bottom: 1em;
        transition: background-color 0.3s ease;
    }

    .tb .tr:hover {
        background-color: lightgray;
    }

    .tb .td[data-titulo] {
        display: flex;
    }

    .tb .td,
    .tb .th {
        border: none;
    }

    .tb td[data-titulo]::before {
        content: attr(data-titulo);
        width: 90px;
        color: #555;
        font-weight: bold;
    }

    .tb .the {
        display: none;
    }

    .tb td[data-titulo="acciones"]::before {
        display: none;
    }

    .tb .th[data-titulo="acciones"] {
        display: none;
    }

    .tb .td[data-titulo="acciones"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tb .td[data-titulo="acciones"] a {
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}